

.Dashboardcontainer{
    max-width: 1800px;
    padding-top: 50px;
    padding-bottom: 200px;
    margin: auto;
}

.Dashboardtitle{
    color: var(--text-color1);
    padding-top: 70px;
    margin-bottom: 50px;
    font-size: 28px;
    font-family: "Latomedium";
}

.Dashboardtitle1{
    color: var(--text-color1);
    font-size: 20px;
    font-family: "Latomedium";
    margin-top: 30px;
    margin-bottom: 20px
}

.dashboardbtn1{
    padding: 10px 15px;
    outline: none;
    border: none;
    background-color: var(--text-color1);
    transition: all 0.5s;
    
}
.admininput{
    width: 50%;
    border:none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #696969;
    color: var(--text-color4);
    padding: 15px 10px;
}

.admininput2{
    width: 50%;
    height: 300px;
    border:none;
    outline: none;
    background-color: transparent;
    border: 1px solid #696969;
    color: var(--text-color4);
    padding: 15px 10px;

}

.postcreatebtn{
    outline: none;
    border: none;
    background-color: var(--text-color1);
    padding: 10px 25px;
    margin-top: 20px;
    transition: all 0.3s

}
.postcreatebtn:hover{
    background-color:  rgb(241, 192, 55);
}

/* Add this to your Dashboard.css */

/* Add this to your Dashboard.css */

.ImageUploadContainer {
    position: relative;
    display: inline-block;
  }
  
  .ImageUploadCard {
    width: 200px;
    height: 200px;
    background-color: #f0f0f0;
    border: 2px dashed #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    color: #777;
    overflow: hidden;
  }
  
  .PlusSign {
    font-size: 48px;
    margin-bottom: 10px;
  }
  
  .UploadedImagesContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .UploadedImagesContainer img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 5px;
  }
  
  /* You can further customize the styles based on your design preferences */
  
  /* You can further customize the styles based on your design preferences */
  

  /* Add this style to your Dashboard.css file */
.ImageContainer {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.DeleteButton {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 20px;
  height: 20px;
  /* background-color: red;
  color: white; */
  /* border: none;
  border-radius: 50%; */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-weight: bold;
  font-size: 16px; */
}


@media(max-width: 1200px) {
  .Dashboardcontainer{
    padding-left: 10%
  }
  .Dashboardtitle1{
    margin-bottom: 0px;
    
  }
  .admininput{
    width: 90%
  }

  .admininput2{
    width: 90%
  }
}