.image-slider{
    position: relative
}

.prevbutton{
    border: none;
    outline: none;
    color: rgba(0,0,0,0.6);
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%)
}

.nextbtn{
    border: none;
    outline: none;
    color:rgba(0,0,0,0.6);
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%)
}

.blogimgslider{
    width: 400px;
    height: 350px;
    object-fit: cover;
    /* object-fit: contain */
   
}

@media(max-width: 578px) {
    .blogimgslider{
        width: 250px;
        height: 200px;
    }
}